<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moviepass">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.WIFI"
        android:required="false" />

    <application
        android:name=".application.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBBbJ-Zgn3TALaEwxqV5Q6pjyKtFmhH9YQ " />

        <!-- Taplytics -->
        <receiver
            android:name="com.taplytics.sdk.TLGcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="taplytics.push.OPEN" />
                <action android:name="taplytics.push.DISMISS" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tl-6ea3ea4d" />
            </intent-filter>
        </receiver>

        <service android:name="com.taplytics.sdk.TLGcmIntentService" />

        <receiver android:name="com.taplytics.sdk.TLBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.taplytics.sdk.TLGeofenceEventService" />

        <meta-data
            android:name="com.taplytics.sdk.notification_icon"
            android:resource="@drawable/notification_icon" />

        <!-- End of Taplytics -->

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <!-- Facebook -->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="com.moviepass.mobile.braintree" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/RedTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.BrowseActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".activities.ConfirmationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.LogInActivity"
            android:parentActivityName=".activities.OnboardingActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OnboardingActivity" />
        </activity>
        <activity
            android:name=".activities.MovieActivity"
            android:parentActivityName=".activities.MoviesActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MoviesActivity" />
        </activity>
        <activity
            android:name=".activities.MoviesActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".activities.NoDataActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.NotificationsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.OnboardingActivity"
            android:label="@string/title_activity_onboarding"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ProfileActivity"
            android:parentActivityName=".activities.MoviesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MoviesActivity" />
        </activity>
        <activity
            android:name=".activities.ReservationsActivity"
            android:parentActivityName=".activities.MoviesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MoviesActivity" />
        </activity>
        <activity
            android:name=".activities.SelectSeatActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:parentActivityName=".activities.MoviesActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MoviesActivity" />
        </activity>
        <activity
            android:name=".activities.SignUpFirstOpenActivity"
            android:parentActivityName=".activities.OnboardingActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.OnboardingActivity" />
        </activity>
        <activity
            android:name=".activities.SignUpActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".activities.TheaterActivity"
            android:parentActivityName=".activities.TheatersActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.TheatersActivity" />
        </activity>
        <activity
            android:name=".activities.TheatersActivity"
            android:parentActivityName=".activities.MoviesActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MoviesActivity" />
        </activity>
        <activity
            android:name=".activities.VerificationActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.VerificationPictureActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ViewTheatersActivity"
            android:theme="@style/AppTheme" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="817d4d68505df552813b127d4149583ade2132e1" />

        <activity android:name=".mobile.ETicketConfirmatin" />
        <activity android:name=".activities.EticketConfirmation" />
        <activity android:name=".activities.ActivateMoviePassCard" />
        <activity android:name=".activities.ActivatedCard_TutorialActivity"></activity>
    </application>

</manifest>