<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moviepass">

    <application
        android:name=".debug.DebugApplication"
        tools:replace="android:name">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBOSj4DA2yt9zDlV2RI5hmfP1RuNKuMe3o"
            tools:replace="android:value" />
        <activity
            android:name=".debug.DebugActivity"
            android:label="MP Debug"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>

</manifest>