<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moviepass">

    <application
        tools:replace="android:name"
        android:name=".debug.DebugApplication">
        <activity android:name=".debug.DebugActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="MP Debug">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
    </application>

</manifest>